[submodule "dscripts"]
	path = dscripts
	url = https://github.com/identinetics/dscripts.git
[submodule "compare-openldap-overlay"]
	path = compare-openldap-overlay
	url = git@github.com:thomaswar/compare-openldap-overlay.git
